@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('assets/font/IBMPlexMono-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Input Sans';
  src: url('assets/font/InputSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins Sans';
  src: url('assets/font/Poppins-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #00a76f;
  --hover-main-color: #00d890;
  --text-color:#637381;

  --el-color-primary: #00a76f !important;
  --el-color-primary-light-3: #00c28c !important;
  --el-color-primary-light-5: #00d4a0 !important;
  --el-color-primary-light-7: #00e5b4 !important;
  --el-color-primary-light-9: #00f6c8 !important;
  
  --el-button-hover-bg-color: #00583b !important;
  --el-button-hover-border-color: #00583b !important;
  --el-button-hover-text-color: #ffffff !important;

  --el-button-active-bg-color: #004c33 !important;
  --el-button-active-border-color: #004c33 !important;
  --el-button-active-text-color: #ffffff !important;
}

a {
  font-weight: 500;
  color: var(--main-color) !important;
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
}

body {
  width:100%;
  font-family: Poppins Sans, sans-serif;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.panel{
  background-color: #f9fafb;
}
.panel-container{
  width: 95%;
  margin: 0 auto;
}
.landing-section{
  height: 80vh;
}
.landing-section .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
   width:100%;
}
.nav-right{
  width:20%;
}
.nav-left{
  width:10%;
}
.nav-center{
  width:60%;
}
.el-menu-demo {
  display: flex;
  align-items: center;
}
.logo {
  width:20%;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.logo img{
  width:60%;
}
.nav-link {
  text-decoration: none;
  display:flex;
  flex-direction: row;
  align-items: center;
}
::v-deep(.el-menu--horizontal > .el-sub-menu.el-sub-menu__hide-arrow) {
  height: 100%;
}
.click-btn {
  display: flex;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.btn-style701 {
  position: relative;
  border: none;
  color: var(--main-color);
}
.btn-style701 span {
  width: 100%;
  display: block;
  position: relative;
}
.btn-style701::before, .btn-style701::after,
.btn-style701 span::before,
.btn-style701 span::after {
  width: 8px;
  height: 8px;
  position: absolute;
  transition: all 0.5s;
  border: 3px solid var(--main-color);
  opacity: 0;
  content: "";
}
.btn-style701::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  transform: translate(-50%, -50%);
}
.btn-style701::after {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
  transform: translate(-50%, 50%);
}
.btn-style701 span::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
  transform: translate(50%, -50%);
}
.btn-style701 span::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  transform: translate(50%, 50%);
}
.btn-style701:hover {
  font-size: 16.5px;
  color: var(--main-color);
}
.btn-style701:hover::before, .btn-style701:hover::after,
.btn-style701:hover span::before,
.btn-style701:hover span::after {
  opacity: 1;
  border-color: var(--main-color);
  transform: translate(0%, 0%);
}
.el-menu-item:hover{
  background-color: #27ae6017 !IMPORTANT;
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}

.el-form-item {
  margin-bottom: 27px !important;
}
.auth-container .el-form-item__label{
  height:unset !important;
  line-height: unset !important;
  align-items: center;
}
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}
.auth-form{
  min-height: 80vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form-switch .el-button {
  flex: 1;
  margin: 0 6px;
}

.el-form-item {
  margin-bottom: 27px;
}


.el-input__inner {
  background-color: white;
  color: #000;
}
.search-input{
  width:100%;
  margin-bottom: 5vh;
  margin-top:5vh;
    display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-input .el-input__wrapper{
  padding:2vh;
}
.search-input .el-button--primary{
  padding:3vh;
}
.search-bar .container{
  display:flex;
  flex-direction: column;
}
.search-filters{
  width:100%;
  display:flex;

  justify-content: space-between;
  flex-wrap: wrap;
}
.search-filters .el-select{
  width:33%;
}
.el-dropdown-menu__item:not(.is-disabled):focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  outline:none;
}
.el-menu-item *{
  outline:none;
}
.user-settings-header {
  background-color: #f9fafb;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.info{
  width:50%;
}
.info h2 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color:var(--text-color);
}

.handle {
  color: var(--text-color);
  font-size: .875rem;
}

.email {
  color: var(--text-color);
  font-size: .875rem;
}

.tagline {
  font-style: italic;
  margin-top: 6px;
  width:70%;
}

.nav-tabs {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}
.el-textarea__inner:focus {
    outline: none !important;
}
.icon-nav-dropmenu{
  margin-right: 5px;
}

.notification-menu-item {
  position: relative;
}
.notification-link {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}
.notification-dropdown {
  width: 220px;
  padding: 8px;
}
.notification-item {
  padding: 6px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:black;
}
.see-all {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
}
.empty {
  padding: 10px;
  text-align: center;
  color: #aaa;
}
.no-select {
  user-select: none;
}
.el-dropdown-menu__item.no-padding {
  padding: 0 !important;
  min-height: 1px;
  height: auto;
}
.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.username {
  margin-left: 8px;
  font-weight: 500;
}
.dropdown-menu {
  min-width: 200px;
  padding: 5px 0;
}
.dropdown-header {
  padding: 6px 16px;
  font-size: 12px;
  color: #909399;
  font-weight: bold;
  pointer-events: none;
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.el-menu--horizontal.el-menu{
  border:none !important;
}
.navbar{
  border-bottom:1px solid #dcdfe6;
}
.profile-page{
  margin:0 !important;
  width:100%;
}
.side-menu .el-menu-item.is-active{
  background-color: rgba(0,167,111,.16) !important;
  color:var(--main-color);
}
.side-menu .el-sub-menu__title:hover {
    background-color: rgba(0,167,111,.16) !important;
}
.profile-settings-card {
  box-shadow: none !important;
  border: none !important;
  background-color: transparent; 
}
.profile-settings-card {
  max-width: 60%;
}
.avatar-uploader{
  margin-bottom: 1rem;
}
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
.blog-block{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-block-left{
  width:75%;
  min-height: 70vh;
}
.blog-block-right{
  width:20%;
  height: max-content;
  display:flex;
  align-items: center;
}
.blog-menu-elements{
  width:100%;
}
#editorjs {
  min-height: 500px;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #dcdfe6 inset;
  font-family: 'Merriweather', serif;
  color: #333;
  line-height: 1.6;
}
.ce-block {
  margin-bottom: 1.5rem;
}
.ce-paragraph {
  font-size: 1.125rem;
}
.ce-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.ce-code {
  font-family: 'Courier New', monospace;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 0.95rem;
}
.blog-block-header{
  padding-top:1rem;
  padding-bottom:1rem;
  margin-bottom: 1rem;
}
.blog-block-header .title{
  font-size:20px;
  margin-right:1rem;
}
.dashboard-grid {
  margin-bottom: 2rem;
}
.dashboard-card {
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  min-height: 180px;
  background-color: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.dashboard-card h3 {
  margin: 1rem 0 0.5rem;
}

.dashboard-card p {
  color: #888;
  font-size: 14px;
}

.icon-badge {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
}
.el-badge{
  position:absolute !important;
}
.side-menu-nav{
  border-right:1px solid #e4e7ec;
  background-color: #fff;
  color:var(--text-color);
}
.side-menu .el-menu{
  border:none !important;
}
.dash-title{
  font-size:20px;
  color: var(--text-color);
  font-weight:600;
  padding-bottom: 1rem;
}
.dash-element .el-timeline{
  margin-top: 1rem;
}
.dash-element{
  background-color: #ffffff;
  border: 1px solid #e4e7ec;
  border-radius: 1rem;
  padding:1rem;
}
.dash-element .bio-status{
  background-color: rgba(0, 167, 111, .16) !important;
  border-radius:1rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bio-status .bio{
  color: var(--main-color);
  font-size: .875rem;
}
.profile-buttons{
  width:30%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.upload-cover{
  width:100%;
}
.remove-cover-btn{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.644) !important;
  border:none !important;
  color:white !important;
}
.image-cover-preview{
  max-height: 50vh;
  width:100%;
}
.image-cover-preview img{
  max-height: inherit;
}
.el-divider__text{
  color:var(--text-color) !important;
}
.profile-picture-preview{
  max-height: 50vh;
}
.profile-picture-preview img{
  height: 178px;
  width:178px;
}
.remove-profile-btn{
  padding:2px !important;
  height: none !important;
}
.avatar-uploader .el-upload--picture-card{
  --el-upload-picture-card-size: 178px !important;
}
.form-buttons .el-form-item__content{
  display: flex
  ;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      min-height: 10vh;
}
.form-buttons .el-button+.el-button{
  margin:0;
}
.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}
.blog-card .el-card__body{
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.blog-card .title{
  font-size:1.3rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
}
.blog-card .description{
  padding-top:.5rem;
  padding-bottom:.5rem;
  color:var(--text-color);
}
.blog-card .blog-buttons{
  padding-top:1rem;
  padding-bottom: 1rem;
}
.blog-card .tags .el-tag{
  margin-right:5px;
}
.cover-image {
  overflow: hidden;
  border-radius: 6px;
  background-color: #f5f5f5;
  text-align: center;
  height:16rem;
  color: #999;
  font-size: 0.875rem;
  user-select: none;
}
.no-image-placeholder {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-style: italic;
  background-color: #eee;
  border-radius: 6px;
}
.pagination-container{
  padding-top: 1rem;
}
.panel-filters{
  display:flex;
  width:80%;
  flex-direction: row;
  justify-content: space-between;
}
.panel-filters .panel-filter{
  width:24%;
}
@media (max-width: 1025px) {
  .panel-filters{
    width:100%;
    flex-direction: column;
  }
  .panel-filters .panel-filter{
    width:100%;
    margin-bottom: .5rem;
  }
  .dropdown-menu {
    min-width: 100vw !important;
    border-radius: 0;
  }
  .user-dropdown .username{
    display:none !important; 
  }
  .el-dropdown-menu__item {
    padding: 12px 20px;
  }
  .dashboard-card{
    margin-bottom: 1rem;
  }
  .dash-element{
    width:100%;
  }
  .notification-menu-item{
    display:none !important;
  }
  .home-s{
    flex-direction: column;
  }
  .auth-container {
    padding: 24px 16px;
  }

  .form-switch {
    flex-direction: column;
  }

  .form-tab-button {
    width: 100%;
    margin-right: 0;
  }

  .submit-button {
    font-size: 16px;
  }
  .form-switch .el-button{
    margin:0 !important;
    margin-bottom: 12px !important;
  }
  .side-menu-nav{
    display:none;
  }
  .blog-block{
    flex-direction: column;
  }
  .profile-settings-card{
    max-width: 100%;
  }
  .el-dialog__body {
    max-height: 60vh;
    overflow-y: auto;
  }
  .el-dialog {
    --el-dialog-width: 90% !important;
  }  
}